<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        <!-- <link rel="stylesheet" href="../static/home.css"> -->
        <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
        <title>Fake News Checker</title>
    </head>

    <body>
        
        <!-- The Modal -->
        <div id="result-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <form action="{{ url_for('home') }}" method="POST">
                    <button class="close" type="submit">&times;</button>
                </form>

                <h2>{{ title }}</h2>
                <p class="regular">Link: {{ url }}</p>

                <div class="row">
                    <div class="column">
                        <p class="regular">Reliability Score: </p>
                        <div class="r-score">
                            {{ score }}/100
                        </div>
                        <!-- <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div> -->
                    </div>
                    <div class="column">
                        <div class="result-notes">
                            <p>This article was evaluated based on the following factors: </p>
                            <p class="bullets">Whether or not this publisher is a well-known, established source</p>
                            <p class="bullets">How many times this headline, or the contents of this article have come up in search results</p>
                            <p class="bullets">How reliable the other news sources hosting the same news article are</p>
                            <p>Note: This score is based on a formula created for the purposes of this application. Take it with a grain of salt!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>

<script></script>